@font-face {
    font-family: "Montserrat-SemiBold.ttf";
    src: url(/fonts/Montserrat/static/Montserrat-SemiBold.ttf);
}


.sectiontwo{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 40px;
    width: 100%;
    height: 120px;
    background-color: rgba(242, 245, 255, 1);

}

.sectiontwo_content{
    display: flex;
    justify-content: space-around;
    gap: 10px;
}



.sectiontwo_opisani h3{
    font-size: 24px;
    font-family: "Montserrat-SemiBold.ttf";
    color: rgba(51, 51, 51, 1);
}

.sectiontwo_opisani p{
    margin-top: 6px;
    font-size: 16px;
    font-family: "Montserrat-Medium.ttf";
    color: rgba(51, 51, 51, 1);
}

@media (max-width:1100px) {
    .sectiontwo_content img{
        width: 60px;
        height: 50px;
    }
    .sectiontwo{
        gap: 10px;
    }
    .sectiontwo_opisani h3{
        font-size: 20px;
    }

    .sectiontwo_opisani p{
        margin-top: 6px;
        font-size: 13px;
        
    }
}

@media (max-width:820px) {
    .sectiontwo_content img{
        width: 50px;
        height: 40px;
    }
    .sectiontwo{
        gap: 10px;
    }

    .sectiontwo_opisani h3{
        font-size: 20px;
    }

    .sectiontwo_opisani p{
        margin-top: 6px;
        font-size: 13px;
        
    }
}

@media (max-width:500px) {

    .sectiontwo_content img{
        margin-top: 10px;
        width: 20px;
        height: 20px;
        
    }

    .sectiontwo_content {
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .sectiontwo{
        gap: 5px;
    }

    .sectiontwo_opisani h3{
        font-size: 10px;
    }

    .sectiontwo_opisani p{
        margin-top: 6px;
        font-size: 7px;
        
    }

    .sectiontwo{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        height: 100%;
        padding-top: 5px;
        gap: 20px;
        padding: 5px 10px;
    }
}
