

.sectionOne{
    display: flex;
    align-items: center;
    width: 100%;
    height: 50vw;
    background-image: url(/img/Mask\ Group.png);
    background-size: contain;
    background-position:  center;
    position: relative;
    
    
}

.sectionOne_bloc{
    width: 610px;
    height: 410px;
    background-color: rgba(223, 233, 244, 1);
    border-radius: 20px;
    margin-left: 50%;
}

.sectionOne_content{
    display: grid;
    margin-top: 37px;
    margin-left: 37px;
    gap: 20px;
    
}

.sectionOne_content p:first-child{
    color: black;
    font-size: 16px;
    font-family: "Montserrat-SemiBold.ttf";
    letter-spacing: 3px;
}

.sectionOne_content h1{
    font-size: 52px;
    font-weight: 700;
    color: rgba(5, 76, 115, 1);
    font-family: "Montserrat-Bold.tt";
}

.sectionOne_content p:nth-child(3){
    color: rgba(51, 51, 51, 1);
    font-size: 15px;
    font-family: "Montserrat-Medium.ttf";
}

.sectionOne_content button{
    width: 230px;
    height: 70px;
    border-radius: 60px;
    background-color: rgba(5, 76, 115, 1);
    color: aliceblue;
    font-family: "Montserrat-Bold.tt";
    cursor: pointer;
}

.sectionOne_content button:hover{
    background-color: rgb(61, 148, 196);
    color: aliceblue;
    font-family: "Montserrat-Bold.tt";
    cursor: pointer;
    transition: 0.3s ease;
}

@media (max-width: 1220px) {
    .sectionOne_bloc{
        width: 510px;
        height: 310px;
        position: absolute;
        margin-left: 450px ; 
    }

    .sectionOne_content button{
        width: 130px;
        height: 50px;
        
    }

    .sectionOne_content p:first-child{
        font-size: 14px;
        letter-spacing: 3px;
    }

    .sectionOne_content h1{
        font-size: 40px;
        font-weight: 700;
    
    }

    .sectionOne_content p:nth-child(3){
        font-size: 14px;
        
    }

 
}


@media (max-width: 500px) {
    .sectionOne_bloc{
        width: 270px;
        height: 180px;
        position: absolute;
        margin-left: 120px ; 
    }

    .sectionOne_content button{
        width: 100px;
        height: 20px;
        font-size: 10px;
        margin-top: 10px;
        
    }

    .sectionOne_content p:first-child{
        font-size: 10px;
        letter-spacing: 3px;
    }

    .sectionOne_content h1{
        font-size: 20px;
        font-weight: 700;
    
    }

    .sectionOne_content p:nth-child(3){
        font-size: 10px;
        
    }
    .sectionOne_content{
        display: grid;
        margin-top: 37px;
        margin-left: 37px;
        gap: 2px;
    
    }
 
}