@import url(/components/elemetsSection/heder.css);
@import url(/components/elemetsSection/sectionOne.css);
@import url(/components/elemetsSection/sectiontwo.css);
@import url(/components/elemetsSection/sectionthree.css);
@import url(/components/elemetsSection/sectionfour.css);
@import url(/components/elemetsSection/sectionsix.css);
@import url(/components/elemetsSection/sectionseve.css);
@import url(/components/elemetsSection/sectioneight.css);
@import url(/components/elemetsSection/footer.css);

* {
	padding: 0px;
	margin: 0px;
	border: none;
	box-sizing: border-box;
	
}

html, body {
  width: 100%;
  overflow-x: hidden; 
  
}

body {
  min-width: 320px; /* Минимальная ширина для мобильных */
}

.sectionOne, .sectiontwo, .sectionthree, 
.sectionfour, .sectionsix, .sectionseve, 
.sectioneight, .footer {
  width: 100% !important;
  max-width: 100% !important;
}

